<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script>
        function copyText() {
            var elemMyText = document.getElementById("myText");
            document.getElementById("joinedText").innerHTML =
            document.getElementById("joinedText").innerHTML + "<br/>" + elemMyText.value;
        }
    </script>
</head>
<body>
Main page !!!
<br />
<p th:text="${variable}"></p>

<input id = "myText" type = "text" />
<input id = "myButton" type = "button" value="Napisz" onClick="copyText()"/>
<div id = "joinedText"></div>

<br/><br/>
<form method="post" target="/strona3">
    <input id = "myText3" name = "myText3" type = "text" />
    <input id = "myButton3" name = "myButton3" type = "button" value="Napisz3"/>
</form>
<div th:text="${joinedText3}"></div>

</body>
</html>